<style>
.page-footer{
  font-size: 12px;
  max-width: 840px;
  margin: 40px auto;
  padding: 0 30px;
  font-family: common_font;
  color: var(--secondary-color);
}

.page-footer > a {
  text-decoration: none;
  color: inherit;
}

.page-footer > a:hover {
  color: var(--primary-color);
}
</style>

<footer class="page-footer">
  <a href="<%= config.githubRepository %>/blob/master/LICENSE">&copy;</a> <%= new Date().getFullYear() %>
  <a href="<%= config.authorSite %>"><%= config.author.toUpperCase() %></a>
</footer>
