<style>
.article-header {
  max-inline-size: var(--content-max-width);
  margin-block: 40px;
  margin-inline: auto;
  padding-inline: 30px;
}

.article-title {
  color: var(--primary-color);
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.article-title a {
  text-decoration: none;
  color: inherit;
}

.article-publish-time {
  color: var(--secondary-color);
  font-size: 14px;
  font-family: common_font;
}
</style>

<section class="article-header">
  <h1 class="article-title">
    <a href="/<%= id %>"><%= title %></a>
  </h1>
  <time class="article-publish-time"><%= publishTime %></time>
</section>
