
<style>
  .article-action {
    max-width: var(--content-max-width);
    margin: 40px auto;
    padding: 0 30px;
    font-family: common_font;
    color: var(--normal-color);
  }
  .article-action > a {
    color: inherit;
    text-decoration-color: var(--primary-color);
  }
</style>

<p class="article-action">
  使用
  <a href="<%= config.github_repository %>/issues">Issues</a>
  讨论或在
  <a href="<%= config.github_repository %>/edit/master/articles/<%= id %>/index.md">Github</a>
  编辑.
</p>
