<style>
  article {
    --article-space: 30px;
  }

  article a {
    color: var(--normal-color);
    text-decoration-color: var(--primary-color);
  }

  article h2, article h3, article h4, article h5, article h6 {
    max-inline-size: var(--content-max-width);
    padding-inline: 30px;
    margin-inline: auto;
    line-height: 1.5;
    color: var(--normal-color);
  }

  article h2 {
    margin-block-start: 28px;
    font-size: 28px;
  }

  article h3 {
    margin-block-start: 26px;
    font-size: 25px;
  }

  article h4 {
    margin-block-start: 24px;
    font-size: 22px;
  }

  article h5 {
    margin-block-start: 22px;
    font-size: 19px;
  }

  article h6 {
    margin-block-start: 20px;
    font-size: 16px;
  }

  article p {
    max-inline-size: var(--content-max-width);

    margin-block: 15px;
    margin-inline: auto;
    padding-inline: 30px;

    font-size: 16px;
    line-height: 1.8;
    color: var(--normal-color);
    word-break: break-word;
  }

  article p code, article ul code, article table code {
    padding-inline: 4px;
    border-radius: var(--border-radius);
    background: rgba(237, 106, 94, 0.3);
  }

  article pre {
    max-inline-size: var(--content-max-width) !important;
    margin-block: 15px !important;
    margin-inline: auto !important;
    font-size: 14px !important;
    box-sizing: border-box;
    border-radius: var(--border-radius) !important;
    tab-size: 2 !important;
    padding: 0 !important;
  }

  article pre code {
    display: block;
    margin-block: 20px !important;
    margin-inline: 30px !important;
    overflow: auto !important;
    font-size: inherit !important;
  }

  article hr {
    max-inline-size: var(--content-max-width);
    margin-block: 40px;
    margin-inline: auto;
    padding-inline: var(--article-space);
    border: none;
  }

  article hr::after{
    content: '';
    display: block;
    block-size: 1px;
    background-color:var(--tertiary-color);
  }

  article blockquote {
    max-inline-size: var(--content-max-width);
    padding-inline: var(--article-space);
    margin-block: 15px;
    margin-inline: auto;
    position: relative;
    font-style: italic;
    font-size: 16px;
    color: var(--secondary-color);
  }

  .table-container {
    max-inline-size: var(--content-max-width);
    padding-inline: 30px;
    margin-block: 15px;
    margin-inline: auto;
  }

  .table-container table {
    border-collapse: collapse;
  }

  .table-container th, .table-container td {
    font-size: 14px;
    color: var(--normal-color);
    border: 1px solid var(--tertiary-color);
    padding: 10px;
    text-align: left;
  }

  .table-container th {
    font-size: 16px;
    text-align: left;
  }

  article blockquote::before {
    content: '';
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 30px;
    inline-size: 3px;
    block-size: 100%;
    background-color: var(--primary-color);
  }

  article blockquote p {
    font-size: 16px;
    color: inherit;
    max-inline-size: unset;
    padding: 0;
    margin-inline-start: 30px;
  }

  article ul,
  article ol {
    max-inline-size: var(--content-max-width);
    padding-inline: 30px;
    margin-block: 15px;
    margin-inline: auto;
    color: var(--normal-color);
    line-height: 1.5;
  }

  article ol {
    counter-reset: li-count;
  }
  
  article ul li, article ol li {
    display: block;
    margin-block: 5px;
    position: relative;
  }

  article ol li {
    counter-increment: li-count;
  }

  article ul li::before {
    content: '';
    display: inline-block;
    inline-size: 6px;
    block-size: 6px;

    margin-inline-end: 10px;

    vertical-align: middle;
    border-radius: 50%;
    background-color: var(--primary-color);
  }

  article ol li::before {
    content: counter( li-count) '. ';
    color: var(--primary-color);
  }

  article figcaption {
    font-size: 12px;
    color: var(--secondary-color);
    text-align: center;
    margin-block-start: 5px;
  }

  .figure-img {
    max-inline-size: var(--content-max-width);
    padding-inline: 30px;
    margin-block: 15px;
    margin-inline: auto;
  }

  .figure-img img {
    display: block;
    max-inline-size: 100%;
    margin-inline: auto;
    border-radius: var(--border-radius);
  }
  
  .figure-video {
    max-inline-size: var(--content-max-width);
    padding-inline: 30px;
    margin-block: 15px;
    margin-inline: auto;
  }

  .figure-video video {
    display: block;
    max-inline-size: 100%;
    margin-inline: auto;
  }

  .figure-iframe {
    inline-size: 100%;
    margin-block: 15px;
  }

  .figure-iframe iframe {
    display: block;
    inline-size: 100%;
    max-inline-size: var(--content-max-width);
    margin-inline: auto;
    block-size: 640px;
    border: 1px solid var(--tertiary-color);
    border-radius: var(--border-radius);
  }

  strong {
    font-weight: normal;
    text-decoration: underline;
  }
</style>

<section>
  <%- content %>
</section>
