<section>
  <h2>更新记录</h2>
  <div class="table-container">
    <table>
      <% updates.forEach(u => { %>
        <tr>
          <td><%= u.time %></td>
          <td><%= u.description %></td>
        </tr>
      <% }) %> 
    </table>
  </div>
</section>
