
<style>
  .edit-in-github {
    max-width: 840px;
    margin: 40px auto;
    padding: 0 30px;
    font-family: common_font;
    font-size: 14px;
    color: var(--normal-color);
  }
  .edit-in-github > a {
    color: inherit;
    text-decoration-color: var(--primary-color);
  }
</style>

<div class="edit-in-github">
  <a href="https://github.com/mebtte/article/edit/master/articles/<%= id %>/index.md">
    在 Github 编辑这边文章 →
  </a>
</div>
